* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* .body {

    width: 100%;
    height: 100%;
    color: white;
   
} */


.section-1 .navibar {
    width: 100%;
    height: 51px;
    background: rgba(7, 7, 7, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: beige;
    position: fixed;

}

.ri-apple-line {
    color: rgb(210, 210, 215);
    cursor: pointer;
    height: 80%;


    display: flex;
    align-items: center;
    padding-left: 30px;
}

.section-1 .navibar .list-items {
    display: flex;
    gap: 10px;
    cursor: pointer;

    list-style: none;
}


.section-1 .navibar .list-items li:hover {
    color: rebeccapurple;
}


/* 
 .navibar .store-menu {}    


.navibar .Mac-menu {}   


.navibar .iPad-menu {}  


.navibar .iPhone-menu {}  


.navibar .Watch-menu {}  



.navibar .Vision-menu {} 


.navibar .Airpods-menu {}


.navibar .TV-home-menu {} 


.navibar .Entertainment-menu {}


.navibar .Accessories-menu {}


.navibar .Support-menu {}  */


.navibar .search-bar {
    cursor: pointer;

}

.navibar .search-bar:hover {
    color: rgba(243, 231, 231, 0.37);
}

.navibar .store-button:hover {
    color: rgba(243, 231, 231, 0.37);
}

.navibar .store-button {
    cursor: pointer;
}



.section-1 {
    width: 100%;
    height: 100vh;
    /* border:  2px solid red; */
    background: rgb(172, 163, 163);
    background-image: url('https://www.apple.com/v/home/bm/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_medium.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.section-1 .container-1 {
    height: 280px;
    width: 520px;
    color: aliceblue;
    background: rgba(34, 29, 29, 0.329);

    /* border:2px solid #fff; */
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1 .container-1 .heading-1 {
    /* background: #1f1818; */
    height: 50px;
    padding-left: 60px;
    font-size: 50px;

}

.container-1 .para-1 {
    height: 110px;
    /* background: #e24e4e; */
    padding-left: 60px;
    font-size: 30px;
    padding-top: 22px;
}

.section-1 .container-1 .click-1 {
    height: 72px;
    /* background: #000; */
    padding-left: 2px;
    /* text-align: center; */
}

.section-1 .container-1 .learn-more {
    padding-left: 00px;
    padding: 15px 32px;

    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 62px;
    border: none;
    border-radius: 120px;
    cursor: pointer;


}

.section-1 .container-1 .buy-1 {
    padding: 15px 32px;
    text-align: center;
    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 2px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
}

.section-2 {
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    color: rgb(194, 103, 194);

    background-image: url('https://www.apple.com/v/home/bm/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_small.jpg');
    background-position: center;
    background-size: cover;



}

.section-2 .container-2 {
    height: 280px;
    width: 520px;
    color: rgb(0, 0, 0);
    background: rgba(49, 49, 49, 0.329);

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section-2 .container-2 .heading-2 {
    height: 50px;
    padding-left: 60px;
    font-size: 50px;

}

.container-2 .para-2 {
    height: 110px;
    /* background: #e24e4e; */
    padding-left: 60px;
    font-size: 35px;
    padding-top: 22px;
}

.section-2 .container-2 .click-2 {
    height: 72px;
    /* background: #000; */
    padding-left: 2px;
    text-align: center;
}

.section-2 .container-2 .learn-more-2 {
    padding-left: 00px;
    padding: 15px 32px;
    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 62px;
    border: none;
    border-radius: 120px;
    cursor: pointer;


}

.section-2 .container-2 .buy-2 {
    padding: 15px 32px;
    text-align: center;
    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 2px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
}

.section-3 {
    width: 100%;
    height: 110vh;
    background-image: url('https://www.apple.com/v/home/bm/images/heroes/macbook-air-m3/hero_macbook_air_m3__cp4t7pn8zqaa_small.jpg');
    object-fit: cover;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-3 .container-3 {
    height: 280px;
    width: 520px;
    color: rgba(0, 0, 0, 0.726);
    background: rgba(49, 49, 49, 0.329);

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-3 .container-3 .heading-3 {
    height: 50px;
    padding-left: 60px;
    font-size: 50px;

}

.container-3 .para-3 {
    height: 110px;
    /* background: #e24e4e; */
    padding-left: 60px;
    font-size: 35px;
    padding-top: 22px;
}

.section-3 .container-3 .click-3 {
    height: 72px;
    /* background: #000; */
    padding-left: 2px;
    text-align: center;
}

.section-3 .container-3 .learn-more-3 {
    padding-left: 00px;
    padding: 15px 32px;
    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 62px;
    border: none;
    border-radius: 120px;
    cursor: pointer;


}

.section-3 .container-3 .buy-3 {
    padding: 15px 32px;
    text-align: center;
    font-size: 35px;
    color: #000;
    display: inline-block;

    margin: 4px 2px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
}


.section-common {
    margin-top: 8vh;
    width: 100%;
    height: 110vh;
    display: flex;
}

.section-4 {
    width: 50%;
    height: 110vh;
    background-image: url(' https://www.apple.com/in/home/promos/apple-watch-series-9/images/promo_apple_watch_series_9_order__b3u85rm9zf6u_small.jpg');
    background-position: bottom;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;


}


.section-5 {
    width: 50%;
    height: 110vh;
    background-image: url('https://www.apple.com/in/home/promos/ipad/images/promo_ipad__fioegapg12qi_small.jpg');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-footer{
    margin-top: 10px;
     width: 100%;
    height: 120vh;
    display: flex;
    padding-left: 90px;
    padding-top: 60px;
    list-style-type: none;
    
    background: #d8d2d27c;
}
ul{
    list-style-type: none;
}

ul li{
    margin-bottom: 18px;
}
.section-footer .head-1{
    width: 20%;
    height: 100vh;

}
.section-footer .head-2{
    width: 20%;
    height: 110vh;
  
}
.section-footer .head-3{
    width: 20%;
    height: 100vh;
    
}
.section-footer .head-4{
    width: 20%;
    height: 100vh;
 
}
.section-footer .head-5{
    width: 20%;
    height: 100vh;
    
}
.terms{
    width: 100%;
    height: 10vh;
    margin-left: 85px;
}